<!DOCTYPE html>
<html ng-app="main">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="rdash-ui/dist/css/rdash.min.css" />
        <link rel="stylesheet" type="text/css" href="css/app.css" />
    </head>
    
    <body ng-controller="MasterCtrl">
        
        <!-- Pass Node.js variables into HTML page -->
        <script type="text/javascript">
            var currentuser=<%- JSON.stringify(user) %>;
            var COPYRIGHT_TEXT="<%- COPYRIGHT_TEXT %>";
        </script>
   
        <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
            
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar">
                    <li class="sidebar-main">
                        <a ng-click="toggleSidebar()">
                            Lunchfund
                            <span class="menu-icon glyphicon glyphicon-transfer"></span>
                        </a>
                    </li>
                    <!--
                    <li class="sidebar-title"><span>NAVIGATION</span></li>
                    -->
                    <li class="sidebar-list" ng-repeat="page in allPages">
                        <a href="{{page.link}}" ng-click="setPage(page.id)">{{page.name}}<span class="menu-icon {{page.icon}}"></span></a>
                    </li>
                </ul>
    
                <div class="sidebar-footer">
                    <div class="col-xs-6">
                        <a href="https://github.com/kendrickw/angular_lunchfund" target="_blank">
                            Github
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="https://github.com/kendrickw/angular_lunchfund/README.md" target="_blank">
                            About
                        </a>
                    </div>
                </div>
            </div> <!-- End Sidebar -->

            <div id="content-wrapper">
                <div class="page-content">

                    <!-- Header Bar -->
                    <div class="row header">
                        <div class="col-xs-12">
                            <div class="user pull-right" ng-controller="LuncherController">
                                <div class="item dropdown">
                                    <a href="#" class="dropdown-toggle" style="text-decoration: none;">
                                        <div ng-if="currentuser.picture">
                                            <img ng-src="{{currentuser.picture}}"></img>
                                        </div>
                                        <div ng-if="!currentuser.picture" class="profile-text">
                                            {{currentuser.initial}}
                                        </div>
                                    </a>
                                   
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-header">
                                            {{currentuser.username}}
                                        </li>
                                        <li class="divider"></li>
                                        <li class="dropdown-header link">
                                            Email: {{currentuser.email}}
                                        </li>
                                        <li class="dropdown-header link">
                                            Firstname: {{currentuser.firstname}}
                                        </li>
                                        <li class="dropdown-header link">
                                            Lastname: {{currentuser.lastname}}
                                        </li>
                                        <li class="divider"></li>
                                        <li class="link">
                                            <a href="/logout">Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
            
                            <div class="meta">
                                <div class="page">
                                    {{getPage().name}}
                                </div>
                                <div class="breadcrumb-links">
                                    {{getPage().description}}
                                </div>
                            </div>
                        </div>
                    </div> <!-- End Header Bar -->

                    <!-- Main Content -->
                    <div ui-view></div>
                
                </div><!-- End Page Content -->
            </div><!-- End Content Wrapper -->
        </div><!-- End Page Wrapper -->

        
        <script type="text/javascript" src="angular/angular.min.js"></script>
        <script type="text/javascript" src="angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script type="text/javascript" src="angular-cookies/angular-cookies.min.js"></script>
        <script type="text/javascript" src="angular-ui-router/release/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>