<!DOCTYPE html>
<html>
    <head>
        <title>LunchFund Login</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <!-- courtesy of http://realfavicongenerator.net/ -->
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="images/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png" />
        <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="images/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />

        <!-- build:css(/public) ../css/login.min.css -->
        <link rel="stylesheet" type="text/css" href="css/login/login.css" />
        <!-- endbuild -->
    </head>

    <body>

        <!-- Prevent external link from opening a new safari window -->
        <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>

        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">

                    <div class="masthead clearfix">
                        <div class="inner">
                            <img src="images/lunchfund-icon.png"
                                 height="50"
                                 width="50"
                                 alt="Lunchfund Logo" class="img-center"></img>
                        </div>
                    </div>

                    <div class="inner cover">
                        <h1 class="cover-heading">You are not logged in.</h1>

                        <p class="lead">
                            <a href="/auth/google">
                                <img src="images/google_signin.png"
                                     alt="Google Login" class="img-center"></img>
                            </a>
                        </p>
                    </div>

                    <div class="mastfoot">
                        <div class="inner">
                            <p><%- COPYRIGHT_TEXT %> (v<%- VERSION %>)</p>
                        </div>
                    </div>

                </div> <!-- /cover-container -->
            </div> <!-- site-wrapper-inner -->
        </div> <!-- site-wrapper -->

    </body>
</html>