<div>

    <div class="panel panel-default">

        <div class="panel-heading">
            Top 3 Fund Contributors
        </div>
        <div class="panel-body">
            <div google-chart chart="FundChartCtrl.chart" style="{{FundChartCtrl.cssStyle}}"></div>
        </div>

    </div>

    <div class="panel panel-default">

        <div class="panel-heading">
            Something else
        </div>
        <div class="panel-body">
            To be implemented
        </div>

    </div>

</div>