<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" ng-submit="FundCtrl.submit()">

            <div class="row">
                <div class="col-xs-12">
                    <p class="input-group">
                        <input type="text" class="form-control" ng-model="FundCtrl.eventdate"
                               max-date="{{FundCtrl.today}}" show-button-bar="false"
                               datepicker-options="FundCtrl.dateOptions"
                               datepicker-popup="yyyy-MMM-dd" is-open="FundCtrl.dateOpened" disabled required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="FundCtrl.dateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">Bill</span>
                        <input type="number" min="0" step="0.01" pattern="[\d\.]*" class="form-control"
                               placeholder="Enter Amount"
                               ng-model="FundCtrl.billAmount"
                               required/>
                    </div>
                </div>
            </div>

            <div class="well">
                <div class="row" style="line-height: 2">
                    <div class="col-xs-5 text-right">Tips ({{FundCtrl.tipPercent | number:2}}%)</div>
                    <div class="col-xs-3">${{FundCtrl.tipsAmount | number:2}}</div>
                    <div class="col-xs-4 btn-group-sm text-right">
                        <button class="btn btn-default" type="button"
                                ng-show="FundCtrl.tipPercent"
                                ng-click="FundCtrl.changeTips(0, true)">
                            <i class="glyphicon glyphicon-remove-circle"></i> no tips
                        </button>
                        <button class="btn btn-default" type="button"
                                ng-hide="FundCtrl.tipPercent"
                                ng-click="FundCtrl.changeTips(10, false)">
                            <i class="glyphicon glyphicon-plus"></i> 10% tips
                        </button>
                    </div>
                </div>

                <div class="row" style="line-height: 2">
                    <div class="col-xs-5 text-right">Total</div>
                    <div class="col-xs-3">${{FundCtrl.totalAmount | number:2}}</div>
                    <div class="col-xs-4 btn-group-sm text-right"></div>
                </div>

                <div class="row" style="line-height: 2">
                    <div class="col-xs-5 text-right">Each Pays</div>
                    <div class="col-xs-3">${{FundCtrl.eachPays | number:2}}</div>
                    <div class="col-xs-4 btn-group-sm text-right">
                        <button class="btn btn-default" type="button" >
                            <i class="glyphicon glyphicon-edit"></i> Edit
                        </button>
                    </div>
                </div>

                <div class="row" style="line-height: 2">
                    <div class="col-xs-5 text-right">Lunchfund <i style="color:orange" class="glyphicon glyphicon-piggy-bank">  </i></div>
                    <div class="col-xs-3">${{FundCtrl.getLunchfundAmount() | number:2}}</div>
                    <div class="col-xs-4 btn-group-sm text-right">
                        <button class="btn btn-default" type="button" >
                            <i class="glyphicon glyphicon-edit"></i> Edit
                        </button>
                    </div>
                </div>
            </div><!-- /well -->

            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group input-group">
                        <select class="form-control"
                                ng-model="FundCtrl.fundholder"
                                ng-options="user as user.username for user in FundCtrl.attendee()" required>
                            <option value="" selected disabled>Fundholder</option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-warning" type="submit">Submit</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div><!-- /.row -->
        </form>

        <alert ng-repeat="alert in FundCtrl.alert.getAlerts()" type="{{alert.type}}" close="FundCtrl.alert.closeAlert($index)">{{alert.msg}}</alert>
    </div>
</div>