<!--main-->
<div class="container" id="main" ng-controller="LuncherController">

    <!-- Luncher list -->
    <div class="panel panel-default" >
        <div class="panel-heading">
            <span class="badge">{{LuncherModel.attendee().length}} lunchers</span>
            <a role="button" class="pull-right"
               ng-click="LuncherModel.isCollapsed = !LuncherModel.isCollapsed"><i class="glyphicon glyphicon-edit"></i> Edit</a>
        </div>
		<div class="panel-body">

            <div style="display: inline-block">
                <div style="display: inline-block">
                    <button class="btn badge"
                            ng-class="{'btn-warning': !LuncherModel.isCollapsed}"
                            ng-repeat="user in LuncherModel.attendee()"
                            ng-click="LuncherModel.toggleuser(user)" ng-disabled="LuncherModel.isCollapsed">{{user.username}}
                    </button>
                </div>
            </div>

            <div collapse="LuncherModel.isCollapsed">
                <div style="text-align: center"><i class="glyphicon glyphicon-sort"></i></div>
                <div style="display: inline-block">
                    <button class="btn btn-warning badge"
                            ng-repeat="user in LuncherModel.nonattendee()"
                            ng-click="LuncherModel.toggleuser(user)">{{user.username}}
                    </button>
                </div>
            </div>
        </div>
    </div><!-- /Luncher list -->

    <!-- Calculation form -->
	<div class="panel panel-default" ng-controller="FundController">
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">Bill</span>
                                <input pattern="\d*" class="form-control"
                                       placeholder="Enter Amount"
                                       ng-model="FundModel.billAmount"
                                       ng-change="FundModel.calcWhenBillChange()"
                                       currency-formatter />
                            </div>
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Tips {{FundModel.tipPercent | number:2}}%</span>
                                <input pattern="\d*" class="form-control"
                                       ng-model="FundModel.tipsAmount"
                                       disabled
                                       currency-formatter />
                            </div>
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Total</span>
                                <input pattern="\d*" class="form-control"
                                       ng-model="FundModel.totalAmount"
                                       disabled
                                       currency-formatter />
                            </div>
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Each Pays</span>
                                <input pattern="\d*" class="form-control"
                                       ng-model="FundModel.eachPays"
                                       disabled
                                       currency-formatter />
                            </div>
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-gift"></i></span>
                                <input pattern="\d*" class="form-control"
                                       ng-model="FundModel.lunchfundAmount"
                                       disabled
                                       currency-formatter />
                            </div>
                        </div>
                    </div><!-- /.row -->

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="input-group input-group-sm">
                                <select class="form-control"
                                        ng-model="FundModel.fundholder"
                                        ng-options="user as user.username for user in LuncherModel.attendee()">
                                    <option value="" selected disabled>Fundholder</option>
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-warning" type="button"
                                            ng-disabled="!FundModel.fundholder || !FundModel.billAmount"
                                            ng-click="FundModel.submit()">Submit</button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                    </div><!-- /.row -->
                </div><!-- /form-group -->
            </form>
        </div>
    </div><!-- /Calculation form -->

    <!-- Past Events -->
    <div class="panel panel-default" ng-controller="EventController">
        <div class="panel-heading">
            Past Events
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="event in EventModel.events()">
                    <span class="badge" style="color: orange;"><i class="glyphicon glyphicon-gift"></i> {{event.fund}}</span>
                    <span class="badge">${{event.bill}}</span>
                    {{EventModel.formatTime(event.time)}}
                </li>
            </ul>
        </div>
    </div><!-- /Summary -->

</div><!--/main-->

<!-- Footer  -->
<div class="container text-center">
    <p>{{COPYRIGHT_TEXT}}</p>
</div>

</div>