<div class="panel panel-default">
    <div class="panel-heading">
        <span class="badge">{{LuncherCtrl.attendee().length}} lunchers</span>

        <a role="button" class="pull-right"
           ng-click="LuncherCtrl.toggleEdit()"><i class="glyphicon glyphicon-edit"></i> Edit</a>
    </div>
    <div class="panel-body">

        <!-- toggle panel luncher selector -->
        <div>
            <div style="display: inline-block" ng-repeat="user in LuncherCtrl.lunchers() track by user.id">
                <div ng-show="LuncherCtrl.editMode || LuncherCtrl.isAttending(user)">
                    <button class="btn btn-xs btn-primary"
                            ng-class="{ 'btn-primary': LuncherCtrl.isAttending(user),
                                        'btn-info': !LuncherCtrl.isAttending(user) }"
                            ng-click="LuncherCtrl.toggle(user)"
                            ng-disabled="!LuncherCtrl.editMode">
                        <i class="glyphicon"
                           ng-class="{ 'glyphicon-check': LuncherCtrl.isAttending(user),
                                       'glyphicon-unchecked': !LuncherCtrl.isAttending(user) }"
                           ng-show="LuncherCtrl.editMode"></i> {{user.username}}
                    </button>

                    <!-- put some spacings between buttons -->
                    <div style="width:1px; height:20px; display:inline-block"></div>
                </div>
            </div>
        </div>

    </div>
</div>