<nav class="navbar navbar-default navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">
            <img class="navbar-brand" src="images/icon-iphone-57.png" alt="lunchfund logo"></img>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <a href="#" class="navbar-btn btn btn-default btn-plus dropdown-toggle" 
               data-toggle="dropdown"><i class={{pageCtrl.getPage().icon}} style="color: royalblue"></i> {{pageCtrl.getPage().name}} <small><i class="glyphicon glyphicon-chevron-down"></i></small></a>
            <ul class="nav dropdown-menu" >
                <li ng-repeat="page in pageCtrl.otherPages()">
                    <a href="{{page.link}}" ng-click="pageCtrl.setPage(page.id)"><i class="{{page.icon}}" ></i> {{page.name}}</a>
                </li>
            </ul>
                    
            <ul class="nav navbar-nav navbar-right" ng-controller="LuncherController as luncher">
                <li>
                    <a href="#">{{luncher.user.nick}} <i class="glyphicon glyphicon-user"></i></a>
                </li>
            </ul>
        </div>	
    </div>	
</nav>