.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/****************************
 * css related to side menu *
 ****************************/
.sidemenu{
    position: fixed;
    top: 55px;
    left: -55px;
    z-index: 999;

    -webkit-transition: all 500ms ;
    -moz-transition: all 500ms ;
    -ms-transition: all 500ms ;
    -o-transition: all 500ms ;
    transition: all 500ms ;
}

.sidemenu.open{
  left:0;
}

/****************************
 * BACKGROUND               *
 ****************************/

/* background */
.ui-view {
    background: url("/images/tiling_stripes.gif");
}

body {
    background: url("/images/white_paper.jpg");
}

/****************************
 * Nav bar                  *
 ****************************/

/* Profile picture/text */
#nav-profile-link {
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    font-size:20px;
    color: #ffffff;
    line-height:40px;
    text-align:center;
    background: #666666;
}

/* Prevent drop down menu on navbar from collapsing */
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: white;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }
}