.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/****************************
 * css related to side menu *
 ****************************/

/* Disable default bootstrap modal animation, so the
 * side menu would animate properly
 */
 /*
 .modal.fade .modal-dialog,
 .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
*/

/* background of side menu */
.ng-aside.horizontal .modal-dialog .modal-content {
    background: slategrey;
}

.sidemenu .modal-body {
    padding: 0px;
}

.sidemenu .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.sidemenu .list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.sidemenu a.list-group-item {
  color: black;
  background: slategrey;
  border: 0px;
}
.sidemenu a.list-group-item:hover,
.sidemenu a.list-group-item:focus {
  text-decoration: none;
  color: black;
  background-color: darkgrey;
}

/****************************
 * BACKGROUND               *
 ****************************/

/* background */
.ui-view {
    background: url("/images/tiling_stripes.gif");
}

body {
    background: url("/images/white_paper.jpg");
}

/****************************
 * Multiselection box       *
 ****************************/
multiselect {
    display:block;
}
multiselect .btn {
    width: 100%;
    background-color: #FFF;
}
multiselect .btn.error{
    border: 1px solid #da4f49 !important;
}
multiselect .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}
multiselect .dropdown-menu {
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
}
multiselect .dropdown-menu > li > a {
    padding: 3px 10px;
    cursor:pointer;
}


/* Profile picture/text */
#nav-profile-link {
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    font-size:20px;
    color: #ffffff;
    line-height:40px;
    text-align:center;
    background: #666666;
}

/* Prevent drop down menu on navbar from collapsing */
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: white;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }
}