<!DOCTYPE html>
<html ng-app="registration">
    <head>
        <title>LunchFund Registration</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <!-- build:css(/dev) ../css/registration.min.css -->
        <link rel="stylesheet" type="text/css" href="css/registration/registration.css" />
        <!-- endbuild -->
    </head>

    <body ng-controller="RegController">
        <!-- Prevent external link from opening a new safari window -->
        <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>

        <!-- Pass Node.js variables into HTML page -->
        <script type="text/javascript">
            var email=<%- JSON.stringify(email) %>;
            var lunchers=<%- JSON.stringify(lunchers) %>;
        </script>

        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">

                    <div class="masthead clearfix">
                        <div class="inner">
                            <img src="images/lunchfund-icon.png"
                                 height="50"
                                 width="50"
                                 alt="Lunchfund Logo" class="img-center"></img>
                        </div>
                    </div>

                    <div class="inner cover">

                        <form ng-submit="register($event)">
                            <div class="form-group">
                                <label for="luncher">Register <code>{{email}}</code> with:</label>
                                <select class="form-control" id="luncher"
                                        ng-model="selected"
                                        ng-options="user as user.username for user in lunchers">
                                </select>
                            </div>
                            <br/>
                            <button type="submit" class="btn btn-primary">Register as {{selected.username}}</button>
                        </form>

                    </div>

                    <div class="mastfoot">
                        <div class="inner">
                            <p><%- COPYRIGHT_TEXT %> (v<%- VERSION %>)</p>
                        </div>
                    </div>

                </div> <!-- /cover-container -->
            </div> <!-- site-wrapper-inner -->
        </div> <!-- site-wrapper -->

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

        <!-- build:js(/dev) ../js/registration.min.js -->
        <script src="app/registration.js"></script>
        <!-- endbuild -->
    </body>
</html>
